<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<dom-module id="my-registro">
  <template is="dom-if" if="[[!registro]]" restamp>
    <style>
      :host {
        display: block;
        text-align: center;
        height: 550px;
      }
      #boton{
        font-family: 'Roboto', 'Noto', sans-serif;
        font-weight: normal;
        font-size: 14px;
        border: 2px solid #0099CC;
        border-radius: 6px;
      }
      #boton:hover {
        background-color: #008CBA;
        color: white;
      }
    </style>
    <h2>Registro de articulo</h2>
    
      <form action="" is="iron-form">
        <paper-input label="Nombre del producto" id="nomProducto" onfocus="this.value"></paper-input>
        <paper-input label="codigo" id="codigoProducto" onfocus="this.value"></paper-input>
        <paper-input label="Cantidad del producto" id="cantidadProducto" onfocus="this.value"></paper-input>
        <paper-button id="boton" on-click="validate" >GUARDAR</paper-button>
      </form>
      <template is="dom-if" if="[[registro]]">
        <h2>Bienvenido [[registro]]</h2>
      </template>
  </template>

  <script>
    /**
     * `my-registro`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MyRegistro extends Polymer.Element {
      static get is() { return 'my-registro'; }
      static get properties() {
        return {
          productos: {
            type: String,
            value: [{
              nombre:'cocacola',
              codigo: 32,
              cantidad: 8,
            },{
              nombre:'pepsi',
              codigo: 87,
              cantidad: 10,
            },{
              nombre:'bonafon',
              codigo: 2,
              cantidad: 2,
            }]
          },
          registro:{
            type: String,
            value: ""
          }
        };
      }
      validate(){
        let nomProducto = this.shadowRoot.getElementById('nomProducto');
        let codigoProducto = this.shadowRoot.getElementById('codigoProducto');
        let cantidadProducto = this.shadowRoot.getElementById('cantidadProducto');
        let elem = document.querySelector('my-registro');
      /*   let pr = this.shadowRoot.getElementById('prenda'); */
        let si = false;
        let pos = 0;
        this.productos.forEach(key => {
          if (nomProducto.value == key.productos){
            si = true;
            pos = this.productos.findIndex(articulo => articulo.productos === nomProducto.value);
            console.log(pos);
          }
        });
        if (!si){
          console.log("El articulo " + +" " + nomProducto + "Ha sido almacenado con exito");
          var mensaje = confirm("¡El articulo" + nomProducto.value + "ha sido alamacenado, ¿Deseas realizar un nuevo registro?");
        } else{
          console.log("El articulo: " + " " + nomProducto.value + " ya existe!");
          var mensaje = confirm("¡El articulo: " + " " + nomProducto.value + " ya existe!\n¿Deseas actualizarlo?");
        }
        if (mensaje) {
          var msg = confirm("¡El articulo " + +" " + nomProducto.value + " ha sido almacenado correctamente!\n¿Deseas realizar una nueva publicación?");
          this.productos.splice(pos,1,({
            'nombre':nomProducto.value,
            'codigo': codigoProducto.value,
            'cantidad': cantidadProducto.value
          }));
          console.log(elem.productos);
          if(!msg) {
            this.registro = nomProducto.value;
          }
        } 
      }
    }
    

    window.customElements.define(MyRegistro.is, MyRegistro);
  </script>
</dom-module>
